*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
    /* width: 1600px;
    height: 960px; */

    background: linear-gradient(90deg, #000000 0%, #424242 100%), #FFFFFF;
}

body{
    font-family: 'Raleway', sans-serif;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
li a:hover {
    background-color: #111;
}

.buttons {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;

    width: 210.33px;
    height: 44px;

    /* Light_and_Dark/02 */
    background: #BEBEBE;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.div-button {
    align-self: center;
}

div.opcion {
    text-align: center;
}

ul.opcion {
    display:inline-block;
    background:#00000000; 
}

li.opcion
{    
    float:left;
    margin:0px 1px;
    border:1px solid rgba(0, 0, 0, 0);
    border-bottom:4px rgba(0, 0, 0, 0) solid;
    border-right:4px rgba(0, 0, 0, 0) solid;
    background:#00000000; 
}
a.opcion
{
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;

    width: 210.33px;
    height: 44px;

    /* Light_and_Dark/02 */
    background: #BEBEBE;
    border-radius: 30px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
a.opcion:hover
{
    background:blue;
}

/* ellipse white position */
.ellipse-1 {
    float: right;
    display: block;
}

/* ellipse blue position css */
.ellipse-2 {
    position: absolute;
    left: 0;
    align-self: center;
    display: block;
}

.active {
    background-color: #04AA6D;
}

.text-exo{
    /* Exogames Sports */

    position: relative;
    left: 5.16%;
    right: 13.19%;
    top: 25.84%;
    bottom: 27.76%;
    color: #fff;

    /* Light_and_Dark/01 */
    background: #ffffff00;
}

.ellipse-exo {
    /* Ellipse 4 */

    position: absolute;
    left: 94.96%;
    right: -7.7%;
    top: 81.2%;
    bottom: -43.66%;

    /* Secondary/little_details */
    background: #EAF900;
    transform: rotate(-180deg);
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

/* Info */

.info{
    background: #f5576c;
    color: #fff;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}