<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an event</title>
</head>
<body>
       <form action="/update_event" method="POST">
        <fieldset>
          <h3>Update event</h3>
          <label>Event id</label>
          <input type="int" name="id" required>
          <h3></h3>
          <label>Event name</label>
          <input type="text" name="event_name" required>
          <h3></h3>
          <label>Description</label>
          <input type="text" name="description" required>
          <h3></h3>
          <label>Sport</label>
          <select name="sport" type="text">
              <option value="football">football</option>
              <option value="basketball">basketball</option>
              <option value="baseball">baseball</option>
              <option value="Archery">Archery</option>
              <option value="Paintball">Paintball</option>
          </select>
          <h3>Rules</h3>
          <label>wins</label>
          <input type="int" name="wins" required>
          <h3></h3>
          <label>losses</label>
          <input type="int" name="losses" required>
          <br><br>
          <button type ="reset">Reset</button>
          <button type ="submit">Submit</button>
          <br><br><br>
        </fieldset>
       </form>
</body>
</html>