<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/form.css">
</head>
<body> 
        <main>
            <div class="principal_container">
                <div class="back_box">
                    <div class="back_box_login">
                        <h3>Do you have an account already?</h3>
                        <p>Login to see the control panel</p>
                        <button id="btn_login">Log in</button>
                    </div>
                    <div class="back_box_register">
                        <h3>Don't you have an account?</h3>
                        <p>Register to login</p>
                        <button id="btn_register">Register</button>
                    </div>
                </div>

                <!--Form for login-->
                <div class="login-register_container">
                    <!--Login-->
                    <form action="" class="login_form">
                        <h2>Login</h2>
                        <input type="text" placeholder="email">
                        <input type="password" placeholder="password">
                        <button>login in</button>
                    </form>

                    <!--Register-->
                    <form action="" class="register_form">
                        <h2>Register</h2>
                        <input type="text" placeholder="Full name">
                        <input type="text" placeholder="email">
                        <input type="text" placeholder="Username">
                        <input type="password" placeholder="Password">
                        <button>Register</button>
                    </form>
                </div>
            </div>

        </main>

        <script src="../js/script.js"></script>
</body>
</html>