/* div tag */
.center_div {
    list-style: none;
    text-align: center;
}

/* ul tag */
.dataButtons {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

/* li tag */
.dataButton {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin:0px 1px;
    padding: 14px 16px;
}

/* a tag */
.dataInsideButton {
    /* Button */

    /* Button/2 small */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;

    width: 210.33px;
    height: 44px;

    /* Light_and_Dark/02 */
    background: #3a3a3a;
    border-radius: 30px;

    /* Inside auto layout */
    color: white !important;
    flex: none;
    order: 0;
    flex-grow: 1;
    text-decoration: none;
}

/* a user tag */
.dataUserInsideButton {
    /* Button */

    /* Button/2 small */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
    gap: 8px;

    width: 210.33px;
    height: 44px;

    /* Light_and_Dark/02 */
    background: #3a3a3a;
    border-radius: 30px;

    /* Inside auto layout */
    color: white;
    flex: none;
    order: 0;
    flex-grow: 1;
    text-decoration: none;
}

.dataInsideButton:hover {
    background-color:#bebebe;
    color: white !important;
}

.dataUserInsideButton:hover {
    background-color: #bebebe;

}
