.EventCard {
    list-style: none;
    font-size: 1.5em;

    /* Event card */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    padding: 0px 0px 16px;
    gap: 8px;

    width: 316px;
    height: 450px;

    /* Light_and_Dark/09 */
    background: #282828;
    box-shadow: -12px 5px 14px rgba(0, 0, 0, 0.5);
    border-radius: 14px 40px;

    /* Inside auto layout */
    color: white !important;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.EventCard:hover {
    color: white !important;
    opacity: 0.8;
}

.EventCardText {
    /* Name of event */
    width: 326px;
    height: 20px;

    /* Body/2 */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 150% */

    letter-spacing: 0.1px;
    text-indent: 10px;
    /* End name of event style */
}

.EventImage {
    border-radius: 10px;
    background-color: azure;
    background-image: url('./img/event-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;

}
.details {
    width: 100%;
}

.hr {
    /* Line 4 */


    width: 180px;
    height: 0px;

    border: 1px solid #D7D2D9;
    margin-left: 10px;
    margin-bottom: -47px;
}

.containerDate {
    display: flex;
    background: #424242;
    box-shadow: -5px 7px 15px rgba(0, 0, 0, 0.29);
    margin-left: 200px;
    margin-right: 20px;
    height: 70px;
}

.Day {
    /* Day */


    width: 54px;
    height: 20px;
    margin-top: 10%;

    /* Body/2 light */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 19px;
    /* identical to box height, or 122% */

    align-content: center;
    letter-spacing: 0.114518px;

    /* Secondary/little_details */

    color: #EAF900;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.Year {
    /* Year */


    width: 40px;
    height: 30px;
    margin-top: 40%;
    margin-left: -30%;

    /* Label/1 */

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height, or 162% */

    text-align: right;
    letter-spacing: 0.114518px;

    /* Light_and_Dark/01 */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}