.header_nav_current_user {
    padding-bottom: 0;
    font-size: inherit;
}

.dropdown_caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.dropdown_menu_sw {
    right: 0;
    left: auto;
}

.dropdown_menu {
    position: absolute;
    /* 
    left: 0;
    z-index: 100;
    width: 215px; */
    top: 12%;
    left: 82%;
    right: inherit;
    padding-top: 4px;
    padding-bottom: 4px; 
    margin-top: 2px;
    list-style: none;
    background-color: grey;
    background-clip: padding-box;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    box-shadow: var(--color-shadow-large);
}

.dropdown_menu_sw::before {
    top: -16px;
    right: 9px;
    left: auto;
}

.dropdown_menu::before {
    border: 8px solid transparent;
    border-bottom-color: var(--color-border-default);
}

.dropdown_menu::before, .dropdown_menu::after {
    position: absolute;
    display: inline-block;
    content: "";
}

.dropdown_divider {
    display: block;
    height: 0;
    margin: 8px 0;
    border-top: 1px solid white;
}

